/* 
=============
  universal 
=============
*/
*{
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 99%;
}

/*
======== 
  tipo
========
*/
h3 {
    color: black;
    font-size: 30px;
}

h5 {
    color: black;
    font-size: 18px;
}

body {
    padding: 10px;
    background: #f1f1f1;
}

img {
    max-width: 100%;
}

iframe {
    border: 0px;
}

span {
    display: block;
}

span.floating-box {
    display: inline-block;
}

pre {
    display: flex;
    flex-wrap: wrap;
}

details {
    display: flex;
    flex-direction: column;
  }


/*
==========
  Classe
==========
*/
.material-icons.menu { 
    font-size: 19px;
}

.emoji {
    font-size: 20px;
}

.content {
    text-align: center;
}

.citacao {
    font-family: 'Benne', serif;
    font-size: 18px;
    font-style: italic;
}

.flex_picture {
    display: flex;
    flex-direction: column;
    justify-content: left;
}


.iframe_container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
} 
  
.iframe_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    max-width: 100%;
    max-height: 100%;
}
    

/*
====== 
  id
======
*/
#main_title {
    color: rgba(0, 0, 0, 0.822);
    font-family: fantasy;
    font-size: 80px;
}

#active_menu_tab {
    background-color: #ddd;
    color: black;
}



/*
============ 
  atributo 
============
*/
[target="_blank"] {
    font-weight: bold;
}


/*
=================
  pseudo-classe 
=================
*/
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: rgb(187, 28, 28);
    text-decoration: none;
}

a:hover {
    color: silver;
    text-decoration: none;
}

a:active {
    color: grey;
    text-decoration: none;
}

/* reset */
input[type="reset"]:hover {
    border: 1px solid steelblue;
    color: steelblue;
    font-weight: bold;
    background-color: transparent;
}

input[type="reset"]:active {
    border: 1px solid blue;
    color: blue;
    background-color: transparent;
}

/* tables */
table {
    text-align: center; 
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

/* html5 table */
table.html5 thead:first-child {
    background: goldenrod;
    font-weight: bolder;
    color: white;
    text-align: center;
}

table.html5 td:nth-child(1) {
    background: palegoldenrod;
}

table.html5 td:nth-child(3) {
    text-align: left;
}

table.html5 tr:nth-child(2n) {
    background: silver;
}

table.html5 tfoot {
    background: grey;
    font-weight: bolder;
    color: white;
}

/* infomation table */
table.info thead:first-child {
    background: goldenrod;
    font-weight: bolder;
    color: white;
    text-align: center;
}

table.info tbody tr:nth-child(1) {
    background: palegoldenrod;
}

table.info tfoot {
    background: white;
    color: black;
    font-weight: normal;
}


/*
===================
  pseudo-elemento 
===================
*/
div p::first-letter {
    font-size: 2em;
}

#descritivo::first-line {
    font-size: large;
}

[data-icon]::before {
    content: attr(data-icon);
    font-family: 'Material Icons';
    font-weight: normal;
    font-size: 1em;

    display: inline-block;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

article > p {
    color: grey;
}

div ~ p {
    font-family: fantasy;
    color: orangered;
}


.header { 
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    background-image: -o-radial-gradient(circle, #ffffffce, #b1b5be 120px);
    background-image: -moz-radial-gradient(circle, #ffffffce, #b1b5be 120px);
    background-image: -webkit-radial-gradient(circle, #ffffffce, #b1b5be 120px);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.nav { 
    background-color: #333;
    grid-area: menu;
    display: flex;
    flex-direction: column;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: #f2f2f2;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a:active {
    background-color: #ddd;
    color: black;
}

.main { 
    grid-area: main;
}

.extra {
    grid-area: extra;
}

.box {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.11), 0 1px 2px rgba(0,0,0,0.23);
}

.right_content { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.right_images { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer { 
    grid-area: footer; 
    display: flex;
    justify-content: center;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #ddd;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 450px auto auto auto auto 150px;
    grid-template-areas: "header"
                         "menu"
                         "main"
                         "extra"
                         "footer";
    grid-gap: 10px;
    padding: 10px;
}

@media screen and (min-width: 600px) {
    h3 {
        color: black;
        font-size:2.6vw;
    }
    
    h4 {
        color: black;
        font-size: 2.2vw;
    }
    
    h5 {
        color: black;
        font-size:1.9vw
    }

    .grid-container {
        display: grid;
        grid-template-columns: 5% 70% auto 5%;
        grid-template-rows: 450px auto auto 150px;
        grid-template-areas: ". header header ."
                             ". menu menu ."
                             ". main extra ."
                             ". footer footer .";
        grid-gap: 10px;
        padding: 10px;
    }

    .nav { 
        background-color: white;
        grid-area: menu;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    
    }

    .nav a {
        padding: 14px;
        color: #f2f2f2;
    }
    
    .menu_space {
        display: flex;
        flex-direction: row;
        background-color: #333;
        margin: 10px;
    }

    .flex_picture {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
}



#animation {animation-timing-function: linear;
    width: 18%;
    height: 100%;
    background-color: orangered;
    font-weight: bold;
    position: relative;
    animation: animate 4s infinite;
    display: flex;
    justify-content: center;
    color: white;
} 
  @keyframes animate {
    from {left: 0px;}
    to {left: 20%;}
  }

.container_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.picture1 {
    width: 250px;
    height: 150px;
    transition: width 0.5s, height 0.5s;
  }
  
.picture1:hover {
    width: 300px;
    height: 200px;
}

.picture2 {
    width: 300px;
    height: 200px;
  }
  
.picture2:hover {
    transform: rotate(30deg)
}

.picture3 {
    width: 300px;
    height: 200px;
  }
  
.picture3:hover {
    transform: scaleX(-1);
}

.picture4 {
    width: 300px;
    height: 200px;
  }
  
.picture4:hover {
    border-radius: 50px;
  }